<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="Binding1">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="MasterMindLibrary.CodeMaker">
        <endpoint address="net.tcp://localhost:13200/MasterMindLibrary/MasterService"
          binding="netTcpBinding" bindingConfiguration="Binding1" contract="MasterMindLibrary.ICodeMaker" />
      </service>
    </services>

  </system.serviceModel>
</configuration>
